$clr-primary: #ffa000;
$clr-dark: #212121;
$clr-light: #ffffff;
$clr-green: #006141;
$clr-d-green: #1e3932;
$clr-jade: #1a3d35;
$clr-pink: #fa8fa8;
$clr-peach: #f06666;
$clr-p-blue: #d3e8e1;
$clr-blue: #13498b;
$clr-gold: #dc8828;
$clr-cream: #fbf3e9;

$transparent: transparent;
$ff-primary: Arial, sans-serif;
