* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: #212121;
}

.container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.bg--primary {
  background-color: #ffa000;
}

.text--primary {
  color: #ffa000;
}

.btn.bg--primary {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #ffa000;
}
.btn.bg--primary:hover {
  background: #cc8000;
}

.btn2.bg--primary {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #ffa000;
}
.btn2.bg--primary:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--primary {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #ffa000;
}
.btn-lb-lt.bg--primary:hover {
  background: #cc8000;
}

.btn-db-dt.bg--primary {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #ffa000;
}
.btn-db-dt.bg--primary:hover {
  background: #cc8000;
}

.bg--dark {
  background-color: #212121;
}

.text--dark {
  color: #212121;
}

.btn.bg--dark {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #212121;
}
.btn.bg--dark:hover {
  background: #080808;
}

.btn2.bg--dark {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #212121;
}
.btn2.bg--dark:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--dark {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #212121;
}
.btn-lb-lt.bg--dark:hover {
  background: #080808;
}

.btn-db-dt.bg--dark {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #212121;
}
.btn-db-dt.bg--dark:hover {
  background: #080808;
}

.bg--light {
  background-color: #ffffff;
}

.text--light {
  color: #ffffff;
}

.btn.bg--light {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #ffffff;
}
.btn.bg--light:hover {
  background: #e6e6e6;
}

.btn2.bg--light {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #ffffff;
}
.btn2.bg--light:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--light {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #ffffff;
}
.btn-lb-lt.bg--light:hover {
  background: #e6e6e6;
}

.btn-db-dt.bg--light {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #ffffff;
}
.btn-db-dt.bg--light:hover {
  background: #e6e6e6;
}

.bg--green {
  background-color: #006141;
}

.text--green {
  color: #006141;
}

.btn.bg--green {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #006141;
}
.btn.bg--green:hover {
  background: #002e1f;
}

.btn2.bg--green {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #006141;
}
.btn2.bg--green:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--green {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #006141;
}
.btn-lb-lt.bg--green:hover {
  background: #002e1f;
}

.btn-db-dt.bg--green {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #006141;
}
.btn-db-dt.bg--green:hover {
  background: #002e1f;
}

.bg--d-green {
  background-color: #1e3932;
}

.text--d-green {
  color: #1e3932;
}

.btn.bg--d-green {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #1e3932;
}
.btn.bg--d-green:hover {
  background: #0c1815;
}

.btn2.bg--d-green {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #1e3932;
}
.btn2.bg--d-green:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--d-green {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #1e3932;
}
.btn-lb-lt.bg--d-green:hover {
  background: #0c1815;
}

.btn-db-dt.bg--d-green {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #1e3932;
}
.btn-db-dt.bg--d-green:hover {
  background: #0c1815;
}

.bg--jade {
  background-color: #1a3d35;
}

.text--jade {
  color: #1a3d35;
}

.btn.bg--jade {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #1a3d35;
}
.btn.bg--jade:hover {
  background: #0b1916;
}

.btn2.bg--jade {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #1a3d35;
}
.btn2.bg--jade:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--jade {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #1a3d35;
}
.btn-lb-lt.bg--jade:hover {
  background: #0b1916;
}

.btn-db-dt.bg--jade {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #1a3d35;
}
.btn-db-dt.bg--jade:hover {
  background: #0b1916;
}

.bg--pink {
  background-color: #fa8fa8;
}

.text--pink {
  color: #fa8fa8;
}

.btn.bg--pink {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #fa8fa8;
}
.btn.bg--pink:hover {
  background: #f85e82;
}

.btn2.bg--pink {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #fa8fa8;
}
.btn2.bg--pink:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--pink {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #fa8fa8;
}
.btn-lb-lt.bg--pink:hover {
  background: #f85e82;
}

.btn-db-dt.bg--pink {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #fa8fa8;
}
.btn-db-dt.bg--pink:hover {
  background: #f85e82;
}

.bg--peach {
  background-color: #f06666;
}

.text--peach {
  color: #f06666;
}

.btn.bg--peach {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #f06666;
}
.btn.bg--peach:hover {
  background: #eb3838;
}

.btn2.bg--peach {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #f06666;
}
.btn2.bg--peach:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--peach {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #f06666;
}
.btn-lb-lt.bg--peach:hover {
  background: #eb3838;
}

.btn-db-dt.bg--peach {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #f06666;
}
.btn-db-dt.bg--peach:hover {
  background: #eb3838;
}

.bg--p-blue {
  background-color: #d3e8e1;
}

.text--p-blue {
  color: #d3e8e1;
}

.btn.bg--p-blue {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #d3e8e1;
}
.btn.bg--p-blue:hover {
  background: #b2d6ca;
}

.btn2.bg--p-blue {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #d3e8e1;
}
.btn2.bg--p-blue:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--p-blue {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #d3e8e1;
}
.btn-lb-lt.bg--p-blue:hover {
  background: #b2d6ca;
}

.btn-db-dt.bg--p-blue {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #d3e8e1;
}
.btn-db-dt.bg--p-blue:hover {
  background: #b2d6ca;
}

.bg--blue {
  background-color: #13498b;
}

.text--blue {
  color: #13498b;
}

.btn.bg--blue {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #13498b;
}
.btn.bg--blue:hover {
  background: #0d315e;
}

.btn2.bg--blue {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #13498b;
}
.btn2.bg--blue:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--blue {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #13498b;
}
.btn-lb-lt.bg--blue:hover {
  background: #0d315e;
}

.btn-db-dt.bg--blue {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #13498b;
}
.btn-db-dt.bg--blue:hover {
  background: #0d315e;
}

.bg--gold {
  background-color: #dc8828;
}

.text--gold {
  color: #dc8828;
}

.btn.bg--gold {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #dc8828;
}
.btn.bg--gold:hover {
  background: #b46e1d;
}

.btn2.bg--gold {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #dc8828;
}
.btn2.bg--gold:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--gold {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #dc8828;
}
.btn-lb-lt.bg--gold:hover {
  background: #b46e1d;
}

.btn-db-dt.bg--gold {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #dc8828;
}
.btn-db-dt.bg--gold:hover {
  background: #b46e1d;
}

.bg--cream {
  background-color: #fbf3e9;
}

.text--cream {
  color: #fbf3e9;
}

.btn.bg--cream {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: #fbf3e9;
}
.btn.bg--cream:hover {
  background: #f3dbbe;
}

.btn2.bg--cream {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: #fbf3e9;
}
.btn2.bg--cream:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--cream {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: #fbf3e9;
}
.btn-lb-lt.bg--cream:hover {
  background: #f3dbbe;
}

.btn-db-dt.bg--cream {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: #fbf3e9;
}
.btn-db-dt.bg--cream:hover {
  background: #f3dbbe;
}

.bg--transparent {
  background-color: transparent;
}

.text--transparent {
  color: transparent;
}

.btn.bg--transparent {
  padding: 1.5rem 2rem;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  display: inline-block;
  background: transparent;
}
.btn.bg--transparent:hover {
  background: rgba(0, 0, 0, 0);
}

.btn2.bg--transparent {
  padding: 1.5rem 2rem;
  border: 2px solid #13498b;
  border-radius: 5rem;
  color: #13498b;
  display: inline-block;
  background: transparent;
}
.btn2.bg--transparent:hover {
  background: #13498b;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-lb-lt.bg--transparent {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  background: transparent;
}
.btn-lb-lt.bg--transparent:hover {
  background: rgba(0, 0, 0, 0);
}

.btn-db-dt.bg--transparent {
  padding: 0.5rem 1.5rem;
  border: 1px solid #212121;
  border-radius: 2rem;
  color: #212121;
  display: inline-block;
  background: transparent;
}
.btn-db-dt.bg--transparent:hover {
  background: rgba(0, 0, 0, 0);
}

.d--flex {
  display: flex;
}

.d--block {
  display: block;
}

.d--inline-block {
  display: inline-block;
}

.d--inline {
  display: inline;
}

.d--grid {
  display: grid;
}

.mb--1 {
  margin-bottom: 1rem;
}

.mt--1 {
  margin-top: 1rem;
}

.mr--1 {
  margin-right: 1rem;
}

.ml--1 {
  margin-left: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.px--1 {
  padding: 0 1rem;
}

.mb--2 {
  margin-bottom: 2rem;
}

.mt--2 {
  margin-top: 2rem;
}

.mr--2 {
  margin-right: 2rem;
}

.ml--2 {
  margin-left: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.px--2 {
  padding: 0 2rem;
}

.mb--3 {
  margin-bottom: 3rem;
}

.mt--3 {
  margin-top: 3rem;
}

.mr--3 {
  margin-right: 3rem;
}

.ml--3 {
  margin-left: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.px--3 {
  padding: 0 3rem;
}

.mb--4 {
  margin-bottom: 4rem;
}

.mt--4 {
  margin-top: 4rem;
}

.mr--4 {
  margin-right: 4rem;
}

.ml--4 {
  margin-left: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.px--4 {
  padding: 0 4rem;
}

.mb--5 {
  margin-bottom: 5rem;
}

.mt--5 {
  margin-top: 5rem;
}

.mr--5 {
  margin-right: 5rem;
}

.ml--5 {
  margin-left: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.px--5 {
  padding: 0 5rem;
}

.mb--6 {
  margin-bottom: 6rem;
}

.mt--6 {
  margin-top: 6rem;
}

.mr--6 {
  margin-right: 6rem;
}

.ml--6 {
  margin-left: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.px--6 {
  padding: 0 6rem;
}

.mb--7 {
  margin-bottom: 7rem;
}

.mt--7 {
  margin-top: 7rem;
}

.mr--7 {
  margin-right: 7rem;
}

.ml--7 {
  margin-left: 7rem;
}

.py--7 {
  padding: 7rem 0;
}

.px--7 {
  padding: 0 7rem;
}

.mb--8 {
  margin-bottom: 8rem;
}

.mt--8 {
  margin-top: 8rem;
}

.mr--8 {
  margin-right: 8rem;
}

.ml--8 {
  margin-left: 8rem;
}

.py--8 {
  padding: 8rem 0;
}

.px--8 {
  padding: 0 8rem;
}

.mb--9 {
  margin-bottom: 9rem;
}

.mt--9 {
  margin-top: 9rem;
}

.mr--9 {
  margin-right: 9rem;
}

.ml--9 {
  margin-left: 9rem;
}

.py--9 {
  padding: 9rem 0;
}

.px--9 {
  padding: 0 9rem;
}

.mb--10 {
  margin-bottom: 10rem;
}

.mt--10 {
  margin-top: 10rem;
}

.mr--10 {
  margin-right: 10rem;
}

.ml--10 {
  margin-left: 10rem;
}

.py--10 {
  padding: 10rem 0;
}

.px--10 {
  padding: 0 10rem;
}

.mb--11 {
  margin-bottom: 11rem;
}

.mt--11 {
  margin-top: 11rem;
}

.mr--11 {
  margin-right: 11rem;
}

.ml--11 {
  margin-left: 11rem;
}

.py--11 {
  padding: 11rem 0;
}

.px--11 {
  padding: 0 11rem;
}

.mb--12 {
  margin-bottom: 12rem;
}

.mt--12 {
  margin-top: 12rem;
}

.mr--12 {
  margin-right: 12rem;
}

.ml--12 {
  margin-left: 12rem;
}

.py--12 {
  padding: 12rem 0;
}

.px--12 {
  padding: 0 12rem;
}

.mb--13 {
  margin-bottom: 13rem;
}

.mt--13 {
  margin-top: 13rem;
}

.mr--13 {
  margin-right: 13rem;
}

.ml--13 {
  margin-left: 13rem;
}

.py--13 {
  padding: 13rem 0;
}

.px--13 {
  padding: 0 13rem;
}

.mb--14 {
  margin-bottom: 14rem;
}

.mt--14 {
  margin-top: 14rem;
}

.mr--14 {
  margin-right: 14rem;
}

.ml--14 {
  margin-left: 14rem;
}

.py--14 {
  padding: 14rem 0;
}

.px--14 {
  padding: 0 14rem;
}

.mb--15 {
  margin-bottom: 15rem;
}

.mt--15 {
  margin-top: 15rem;
}

.mr--15 {
  margin-right: 15rem;
}

.ml--15 {
  margin-left: 15rem;
}

.py--15 {
  padding: 15rem 0;
}

.px--15 {
  padding: 0 15rem;
}

.mb--16 {
  margin-bottom: 16rem;
}

.mt--16 {
  margin-top: 16rem;
}

.mr--16 {
  margin-right: 16rem;
}

.ml--16 {
  margin-left: 16rem;
}

.py--16 {
  padding: 16rem 0;
}

.px--16 {
  padding: 0 16rem;
}

.mb--17 {
  margin-bottom: 17rem;
}

.mt--17 {
  margin-top: 17rem;
}

.mr--17 {
  margin-right: 17rem;
}

.ml--17 {
  margin-left: 17rem;
}

.py--17 {
  padding: 17rem 0;
}

.px--17 {
  padding: 0 17rem;
}

.mb--18 {
  margin-bottom: 18rem;
}

.mt--18 {
  margin-top: 18rem;
}

.mr--18 {
  margin-right: 18rem;
}

.ml--18 {
  margin-left: 18rem;
}

.py--18 {
  padding: 18rem 0;
}

.px--18 {
  padding: 0 18rem;
}

.mb--19 {
  margin-bottom: 19rem;
}

.mt--19 {
  margin-top: 19rem;
}

.mr--19 {
  margin-right: 19rem;
}

.ml--19 {
  margin-left: 19rem;
}

.py--19 {
  padding: 19rem 0;
}

.px--19 {
  padding: 0 19rem;
}

.mb--20 {
  margin-bottom: 20rem;
}

.mt--20 {
  margin-top: 20rem;
}

.mr--20 {
  margin-right: 20rem;
}

.ml--20 {
  margin-left: 20rem;
}

.py--20 {
  padding: 20rem 0;
}

.px--20 {
  padding: 0 20rem;
}/*# sourceMappingURL=main.css.map */